* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(227, 192, 192);
}

header {
  height: 100px;
  background-color: burlywood;
}

header h1 {
  text-align: center;
  line-height: 100px;
  letter-spacing: 3px;
  font-size: 55px;
}
